{% extends "base.html" %}

{% block title %}Settings - Invoice Generator{% endblock %}

{% block page_subtitle %}Settings{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('settings') }}" enctype="multipart/form-data" id="company-form">
            {% if selected_company %}
                <input type="hidden" name="company_id" value="{{ selected_company.id }}">
            {% endif %}
            <div class="mb-3">
                <a href="{{ url_for('edit_profile') }}" class="btn btn-secondary">Edit user profile</a>
            </div>
            <div class="form-group mb-3">
                <label for="invoice_template">Invoice Template:</label>
                <select id="invoice_template" name="invoice_template" class="form-control">
                    <option value="invoice_pretty" {% if selected_company and selected_company.invoice_template == 'invoice_pretty' %}selected{% endif %}>Pretty</option>
                    <option value="invoice_template" {% if selected_company and selected_company.invoice_template == 'invoice_template' %}selected{% endif %}>Classic</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function previewLogo(input) {
        const preview = document.getElementById('logo-preview');
        const previewImage = document.getElementById('preview-image');
        
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            
            reader.onload = function(e) {
                previewImage.src = e.target.result;
                preview.style.display = 'block';
            }
            
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.style.display = 'none';
        }
    }
</script>
{% endblock %} 